<!DOCTYPE html>
<html>
  <head>
    <title>REST API</title>
  </head>
  <body>
    REST API's
    <br><br>
    World Population api
    <br>
    Here's a country in the array of countries: {{ country }}
    <br>
    Population of United States at {{date}}: {{ pop}}
    <br>

    ================================================================
    <br>
    <br>
    Advice api
    <br>
    Here's a piece of advice: {{thing}}
    <br>
    ================================================================
    <br>
    <br>
    Cat Facts API
    <br>
    Random Cat fact: {{cats}}
  </body>
</html>
